.main-nav {
  display: flex;
  max-width: 1411px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: transparent;
}

.main-nav__logo {
  width: 202px;
  height: 52px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-nav__logo-wrapper {
  margin-top: 2px;
  align-self: center;
}

.main-nav__menu-button {
  position: relative;
  min-width: 2.8%;
  min-height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;

  background-color: transparent;
}

.main-nav__menu-button::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 0;
  width: 37px;
  height: 1px;

  background-color: #ffffff;
  box-shadow: 0 12px 0 #ffffff;
}

.main-nav__menu-button:hover::before,
.main-nav__menu-button:focus::before {
  background-color: $form-color;
  box-shadow: 0 12px 0 $form-color;
}

.main-nav__contacts-list {
  margin: 0;
  padding: 0;
  width: 515px;
  margin-left: auto;
  margin-top: -5px;
  padding-left: 4.5%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-nav__contacts-list li {
  margin-left: auto;
  align-self: center;
  cursor: pointer;
}

.main-nav__contacts-list li:first-child {
  margin-left: auto;
}

.main-nav__contacts-list a {
  text-decoration: none;
  color: $nav-color;
  cursor: pointer;
}

.main-nav__contacts-list a:hover,
.main-nav__contacts-list a:focus {
  color: $form-color;
  outline: none;
}

.main-nav__contacts-list svg {
  margin-bottom: -2px;
}

.main-nav__contacts-list span {
  margin-left: 9px;
}

.main-nav__call-button {
  display: block;
  padding-top: 15px;
  padding-bottom: 13px;
  margin-top: -5px;
  margin-left: 3.5%;
  width: 180px;
  text-align: center;
  align-self: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;

  background-color: transparent;
  color: $nav-color;
}

.main-nav__call-button:hover,
.main-nav__call-button:focus {
  color: $form-color;
  outline: none;
  border: 1px solid $form-color;
}

@media (max-width: $tablet-width-only) {
  .main-nav {
    max-width: 720px;
  }

  .main-nav__menu-button {
    margin-left: auto;
  }

  .main-nav__menu-button::before {
    top: 9px;
  }

  .main-nav__contacts-list {
    width: 100px;
    margin-left: 24px;
  }

  .main-nav__contacts-list li {
    margin-left: 33px;
    align-self: center;
  }

  .main-nav__contacts-list li:first-child {
    margin-left: auto;
  }

  .main-nav__contacts-list a {
    text-decoration: none;
    padding-top: 10px;
    color: $nav-color;
  }

  .main-nav__contacts-list svg {
    width: 24px;
    height: 24px;
  }

  .main-nav__call-button {
    display: none;
  }

  .main-nav__contacts-list span {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__logo img {
    width: 38px;
    height: 38px;
  }

  .main-nav__logo {
    width: 38px;
    height: 38px;
  }

  .main-nav__logo-wrapper {
    display: none;
  }

  .main-nav__menu-button::before {
    top: 7px;
  }

  .main-nav__contacts-list {
    padding-left: 1px;
    width: 81px;
    margin-left: 14px;
  }

  .main-nav__contacts-list li {
    margin-left: 23px;
  }

  .main-nav__contacts-list svg {
    margin-top: -2px;
  }
}
