.main-page__wrapper {
  background-image: url("../img/background_advantages-desktop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: $tablet-width-only) {
  .main-page__wrapper {
    background-image: url("../img/background_advantages-tablet.jpg");
  }
}

@media (max-width: $mobile-width-only) {
  .main-page__wrapper {
    background-image: url("../img/background_advantages-mobile.jpg");
  }
}
