.main-footer {
  position: relative;
  padding-top: 65px;
  padding-left: 13.1%;
  padding-right: 13.3%;

  &::before {
    content: "";

    position: absolute;

    bottom: 38px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.2;

    background-color: $line-color;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1408px;
  margin: 0 auto;
}

.main-footer__logo {
  display: flex;
  margin-right: auto;
  text-decoration: none;
}

.main-footer__logo-wrapper {
  margin-right: auto;
  padding-right: 6.6%;
}

.main-footer__logo svg {
  align-self: center;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-footer__social-item {
  margin-left: 15px;
  cursor: pointer;
}

.main-footer__toggle {
  display: none;
  cursor: pointer;
}

.main-footer__social-item:first-child {
  margin-left: 0;
}

.main-footer__social-item:nth-child(3n + 3) {
  margin-top: -1px;
  margin-left: 16px;
}

.main-footer__social-list .main-footer__social-link {
  display: block;
}

.main-footer__social-list svg {
  fill: #cdcdcd;
}

.main-footer__social-item:hover svg,
.main-footer__social-link:focus svg {
  fill: $form-color;
}

.main-footer__sections-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}

.main-footer__sections-list {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  min-width: 0;
  list-style: none;
  column-count: 2;
  column-gap: 4.7em;
}

.main-footer__sections-wrapper h3 {
  margin: 0;
  margin-left: 1px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  font-family: $roboto-condensed;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $footer-text;
}

.main-footer__sections-list li {
  max-width: 100%;
}

.main-footer__sections-list li:nth-child(8n + 5),
.main-footer__sections-list li:nth-child(8n + 6),
.main-footer__sections-list li:nth-child(8n + 7),
.main-footer__sections-list li:nth-child(8n + 8) {
  letter-spacing: 0.03em;
}

.main-footer__sections-list a {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  cursor: pointer;

  color: $footer-text;
}

.main-footer__sections-list a:hover,
.main-footer__sections-list a:focus {
  color: $form-color;
}

.main-footer__contacts-wrapper {
  margin-left: auto;
}

.main-footer__contacts-wrapper h3 {
  margin: 0;
  margin-left: 5px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  font-family: $roboto-condensed;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $footer-text;
}

.main-footer__contacts-list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  list-style: none;
}

.main-footer__contacts-list a {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  cursor: pointer;

  color: $footer-text;
}

.main-footer__contacts-list li:nth-child(4n + 1) {
  font-size: 15px;
  line-height: 25px;

  color: transparentize($color: $footer-text, $amount: 0.5);
}

.main-footer__contacts-list a:hover,
.main-footer__contacts-list a:focus {
  color: $form-color;
}

.main-footer__copyright-wrapper {
  margin-top: 72px;
  width: 100%;
}

.main-footer__copyright-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  list-style: none;
  opacity: 0.5;

  color: $footer-text;
}

.main-footer__copyright-list li {
  cursor: pointer;
}

.main-footer__copyright-list li:nth-child(4n + 2) {
  margin-right: 5.5%;
}

.main-footer__copyright-list li:nth-child(4n + 1) {
  margin-right: 5%;
}

.main-footer__copyright-list li:nth-child(4n + 4) {
  margin-left: auto;
}

.main-footer__copyright-list a {
  text-decoration: none;
  margin-left: 67px;

  color: $footer-text;
}

.main-footer__copyright-list a:hover,
.main-footer__copyright-list a:focus {
  color: $form-color;
}

@media (max-width: 1589px) {
  .main-footer__sections-list {
    margin: 0;
    padding: 0;
    margin-top: 26px;
    min-width: 0;
    list-style: none;
    column-count: 1;
    column-gap: 0;
  }

  .main-footer__logo-wrapper {
    margin-right: auto;
    padding-right: 1%;
  }

  .main-footer__sections-wrapper {
    padding-right: 1%;
  }

  .main-footer__copyright-list a {
    margin-left: auto;
  }

  .main-footer__copyright-list li:nth-child(4n + 2) {
    margin-right: auto;
  }

  .main-footer__copyright-list li:nth-child(4n + 1) {
    margin-right: auto;
  }

  .main-footer__copyright-list li:nth-child(4n + 4) {
    margin-left: auto;
  }

  .main-footer__copyright-list li:nth-child(4n + 3) {
    margin-right: 1%;
  }
}

@media (max-width: 1120px) {
  .main-footer__sections-list li {
    width: 180px;
  }
}

@media (max-width: 1084px) {
  .main-footer {
    &::before {
      bottom: 50px;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .main-footer {
    padding-top: 19px;
    padding-left: 25px;
    padding-right: 25px;

    &::before {
      bottom: 45px;
    }

    &::after {
      content: "";

      position: absolute;

      bottom: 336px;
      left: 0;
      width: 100%;
      height: 1px;
      opacity: 0.2;

      background-color: $line-color;
    }
  }

  .main-footer__wrapper {
    max-width: 720px;
  }

  .main-footer__logo-wrapper {
    display: flex;
    width: 100%;
    padding-right: 0;
  }

  .main-footer__logo svg {
    align-self: center;
  }

  .main-footer__social-list {
    margin-left: auto;
    margin-top: 3px;
    margin-right: 1px;
    align-self: center;
  }

  .main-footer__sections-list li {
    width: 100%;
  }

  .main-footer__social-list svg {
    width: 26px;
    height: 26px;
  }

  .main-footer__sections-wrapper {
    margin-left: 0;
    margin-top: 64px;
  }

  .main-footer__sections-list {
    column-count: 1;
  }

  .main-footer__sections-list li:nth-child(8n + 5),
  .main-footer__sections-list li:nth-child(8n + 6),
  .main-footer__sections-list li:nth-child(8n + 7),
  .main-footer__sections-list li:nth-child(8n + 8) {
    letter-spacing: 0;
  }

  .main-footer__contacts-wrapper {
    margin-left: auto;
    margin-top: 64px;
    margin-right: 11px;
  }

  .main-footer__contacts-wrapper h3 {
    margin-left: 0;
  }

  .main-footer__toggle {
    display: none;
  }

  .main-footer__copyright-wrapper {
    margin-top: 57px;
  }

  .main-footer__copyright-list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    list-style: none;
    opacity: 0.5;

    color: $footer-text;
  }

  .main-footer__copyright-list li {
    margin-left: 0;
  }

  .main-footer__copyright-list li:first-child {
    display: none;
  }

  .main-footer__copyright-list li:nth-child(4n + 2) {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -57px;
  }

  .main-footer__copyright-list a {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-footer {
    padding-top: 46px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 26px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .main-footer__wrapper {
    max-width: 290px;
  }

  .main-footer__logo {
    margin: 0 auto;
  }

  .main-footer__logo-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .main-footer__logo svg {
    align-self: center;
  }

  .main-footer__social-list {
    margin: 0 auto;
    margin-top: 84px;
  }

  .main-footer__social-list svg {
    margin-top: -2px;
  }

  .main-footer__sections-wrapper {
    margin-left: 0;
    margin-top: 48px;
    width: 290px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";

      position: absolute;

      top: 0;
      left: -15px;
      width: 320px;
      height: 1px;
      opacity: 0.2;

      background-color: $line-color;
    }
  }

  .main-footer__sections-wrapper h3 {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .main-footer__sections-wrapper:hover .main-footer__toggle,
  .main-footer__contacts-wrapper:hover .main-footer__toggle {
    &::after,
    &::before {
      background-color: $form-color;
    }
  }

  .main-footer__sections-wrapper h3:hover,
  .main-footer__contacts-wrapper h3:hover {
    color: $form-color;
  }

  .main-footer__sections-list {
    column-count: 1;
    width: 290px;
  }

  .main-footer__contacts-wrapper {
    margin: 0;
    width: 290px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";

      position: absolute;

      top: 0;
      left: -15px;
      width: 320px;
      height: 1px;
      opacity: 0.2;

      background-color: $line-color;
    }

    &::after {
      content: "";

      position: absolute;

      top: 70px;
      left: -15px;
      width: 320px;
      height: 1px;
      opacity: 0.2;

      background-color: $line-color;
    }
  }

  .main-footer__contacts-wrapper h3 {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .main-footer__contacts-list {
    margin-top: 5px;
    width: 280px;
  }

  .main-footer__toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    width: 20px;
    height: 20px;
    margin-left: auto;
    border: none;

    background-color: transparent;

    &::before,
    &::after {
      content: "";

      position: absolute;

      top: 40%;
      left: 2px;

      width: 16px;
      height: 1px;

      background-color: #c4c4c4;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  .main-footer__toggle:focus {
    &::before,
    &::after {
      background-color: $form-color;
    }
  }

  .main-footer__sections-wrapper--close .main-footer__sections-list {
    display: none;
  }

  .main-footer__sections-wrapper--open .main-footer__toggle::after {
    display: none;
  }

  .main-footer__sections-wrapper--close .main-footer__toggle::after {
    display: block;
  }

  .main-footer__contacts-wrapper--close .main-footer__contacts-list {
    display: none;
  }

  .main-footer__contacts-wrapper--open .main-footer__toggle::after {
    display: none;
  }

  .main-footer__contacts-wrapper--open::after {
    display: none;
  }

  .main-footer__contacts-wrapper--open .main-footer__contacts-list {

    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -27px;
      left: -15px;
      width: 320px;
      height: 1px;
      opacity: 0.2;

      background-color: $line-color;
    }
  }

  .main-footer__contacts-wrapper--close .main-footer__toggle::after {
    display: block;
  }

  .main-footer__copyright-wrapper {
    margin: 0 auto;
    margin-top: 57px;
    width: 290px;
  }

  .main-footer__copyright-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    opacity: 0.5;

    color: $footer-text;
  }

  .main-footer__copyright-list li {
    margin-left: 0;
  }

  .main-footer__copyright-list li:first-child {
    display: none;
  }

  .main-footer__copyright-list li:nth-child(4n + 2) {
    top: 124px;
    left: 50%;
    margin-left: -116px;
  }

  .main-footer__copyright-list li:last-child {
    margin: 0 auto;
    margin-top: 21px;
  }

  .main-footer__sections-wrapper--nojs .main-footer__sections-list,
  .main-footer__contacts-wrapper--nojs .main-footer__contacts-list {
    display: block;
    margin-top: 0;
  }

  .main-footer__contacts-wrapper--nojs::after {
    top: 210px;
  }
}
