.main-advantages {
  padding-top: 111px;
  padding-bottom: 30px;
  background-color: transparent;
}

.main-advantages__list {
  margin: 0 auto;
  padding: 0;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.main-advantages__list li {
  padding-top: 40px;
  padding-left: 43px;
  padding-right: 36px;
  padding-bottom: 65px;
  margin-bottom: 29px;
  width: 48.7%;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;
  box-sizing: border-box;
}

.main-advantages__list li:nth-child(2n + 2) {
  margin-left: 2%;
}

.main-advantages__list li:nth-child(4n + 3) {
  padding-top: 44px;
}

.main-advantages__list h3 {
  margin: 0;
  margin-top: 14px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-family: "RobotoCondensed", "Arial", sans-serif;

  color: #00b2ff;
}

.main-advantages__list svg {
  fill: #00b2ff;
}

.main-advantages__list p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  white-space: pre-wrap;

  color: #666666;
}

.main-advantages__list li:hover,
.main-advantages__list li:focus {
  background-color: #00b2ff;
  border: 1px solid #00b2ff;

  color: #ffffff;
}

.main-advantages__list li:hover p,
.main-advantages__list li:focus p,
.main-advantages__list li:hover h3,
.main-advantages__list li:focus h3 {
  color: #ffffff;
}

.main-advantages__list li:hover svg,
.main-advantages__list li:focus svg {
  fill: #ffffff;
}

@media (max-width: $tablet-width-only) {
  .main-advantages {
    padding-top: 54px;
  }

  .main-advantages__list {
    padding-left: 1%;
    padding-right: 1%;
    max-width: 720px;
  }

  .main-advantages__list li {
    padding-top: 23px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 29px;
    width: 47.9%;
    min-height: 306px;
  }

  .main-advantages__list li:nth-child(4n + 2) {
    padding-top: 25px;
  }

  .main-advantages__list li:nth-child(4n + 3) {
    padding-top: 29px;
  }

  .main-advantages__list li:nth-child(4n + 3),
  .main-advantages__list li:nth-child(4n + 4) {
    min-height: 232px;
  }

  .main-advantages__list h3 {
    margin-top: 2px;
  }

  .main-advantages__list p {
    margin-top: 9px;
    white-space: normal;
  }

  .main-advantages__list li:nth-child(4n + 2) svg,
  .main-advantages__list li:nth-child(4n + 4) svg {
    width: 32px;
    height: 32px;
  }

  .main-advantages__list li:nth-child(4n + 3) svg {
    width: 30px;
    height: 26px;
  }

  .main-advantages__list li:nth-child(4n + 3) p {
    margin-top: 16px;
  }

  .main-advantages__list li:nth-child(4n + 4) h3 {
    margin-top: 5px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-advantages {
    padding-top: 37px;
  }

  .main-advantages__list {
    padding: 0;
    width: 292px;
  }

  .main-advantages__list li {
    padding-top: 25px;
    padding-right: 15px;
    margin-bottom: 20px;
    width: 290px;
    min-height: 310px;
  }

  .main-advantages__list li:nth-child(2n + 2) {
    margin-left: 0;
  }

  .main-advantages__list li:nth-child(4n + 2) {
    padding-top: 27px;
    padding-right: 10px;
  }

  .main-advantages__list li:nth-child(4n + 3) {
    padding-top: 25px;
    padding-right: 30px;
  }

  .main-advantages__list li:nth-child(4n + 4) {
    min-height: 244px;
  }

  .main-advantages__list h3 {
    margin-top: 7px;
    font-size: 20px;
    line-height: 28px;
  }

  .main-advantages__list p {
    margin-top: 9px;
    white-space: normal;
  }

  .main-advantages__list li:nth-child(4n + 3) p {
    margin-top: -8px;
  }

  .main-advantages__list li:nth-child(4n + 4) h3 {
    margin-top: 6px;
  }

  .main-advantages__list li:nth-child(4n + 4) p {
    margin-top: 11px;
  }
}
